{% extends 'templates/app.twig' %}
{% block content %}
	<h2>Search for a bundle below:</h2>
	<form action="{{ path_for('bundles.browse') }}" method="post">
		<input type="text" name="query">
		{{ csrf.field | raw }}
		<button>Search</button>
	</form>
	{% if query %}
		<p>Results for: {{ query }}</p>
	{% endif %}
	<ul>
		{% for bundle in results %}
			<li>{{bundle._source.bundleName}} | {{bundle._source.user}} | {{bundle._source.description}}</li>
		{% endfor %}
	</ul>
	<script type="text/javascript">

	</script>
{% endblock %}
