<div class="nav">
	<div class="nav-container w-container">
		<div class="right-nav"><img src="{{ base_url() }}/img/platform/logo.png" width="102" srcset="{{ base_url() }}/img/platform/logo-p-500.png 500w, {{ base_url() }}/img/platform/logo.png 519w" sizes="102px"></div>
		<div class="left-nav w-clearfix">
			<div class="left-nav-contents">
				<ul class="nav-items w-list-unstyled">
					<li class="nav-item">Docs</li>
					<li class="nav-item">Browse</li>
					<li class="nav-item upload-item">Upload</li>
					<li class="nav-item">Sign In</li>
					<li class="nav-item action-nav-item">Get Started</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--<div id="nav">
	<div id="navContainer">
		<div class="left">
			<ul>
				<li><a href="#">Docs</a></li>
				<li><a href="#">Browse</a></li>
				<li><a href="#">Upload</a></li>
			</ul>
		</div>
		<div id="logo">
			<a href="#"><img src="{{ base_url() }}/img/platform/logo.png" height="15px"></a>
		</div>
		<div class="right">
			<ul>
			{% if auth.check %}
				<li><a href="#">Profile</a></li>
				<li><a href="{{ path_for('auth.signout') }}">Sign out</a></li>
			{% else %}
				<li><a href="{{ path_for('auth.signin') }}">Sign in</a></li>
				<li><a href="{{ path_for('auth.signup') }}">Get Started</a></li>
			{% endif %}
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>-->