<div id="profileSidebar">
	<div class="profileSidebarSection">
		<div id="profileImage">
			<img src="{{profileUser.img}}">
		</div>
			<h1 id="profileName">
			{{profileUser.name}}
			</h1>
		<div id="profileUsername">
			{{ profileUser.username }}
		</div>
		<p id="profileBio">
			{{profileUser.bio}}
		</p>
	</div>
	<div class="profileSidebarSection">
		<div id="profileSoftware">
			Software: 
			 <div id="softwareList">
			 	{{profileSoftware.software}}
			</div>
		</div>
	</div>
	<div class="profileSidebarSection">
		<div id="profileSocialMedia">
			Social Media:
			<a href = "http://{{(profileSocial.link)}}" id="socialmedia">
				<p>{{profileSocial.platform}}</p>
			</a>
		</div>
	</div>
</div>